/* MENU Vertical*/
table[width="156"]{
	margin-right:10px;
	margin-left:15px;
	margin-top:-1px;
	width:270px;
	//background: -webkit-linear-gradient(top, #5a88aa 0%,#2d73ab 100%) !important;
	background: #F9F9F9;
	//-webkit-box-shadow: 0px 0px 8px #ff9900 !important;
	//border: 1px solid #002232;
	border: 1px solid #CCCCCC;
	border-radius: 2px;
}
table[width="156"] *{
	background: transparent !important;
	//color: #ffffff !important;
	border:0px !important;
}
table[width="156"] img{
	display:none;
}

table[width="156"] .class2{
	margin-left:-18px !important;
	line-height:25px !important;
	//background:#ff9900 !important;
}
table[width="156"] .class2 a{
	padding:0px !important;
	font-size:14px !important;
}



table[width="156"] .menulateral1{
	border-top: 1px solid #CCCCCC !important;
	
	border-spacing:0px !important;
}
table[width="156"] table tr a:hover{
	color:red !important;
	
}
table[width="156"] table a{
	width:100%;
	height:100%;
}
.menulateral1 .desapertado{
background-color:transparent;
border-collapse:collapse;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:12px !important;
padding-top:5px !important;
padding-bottom:5px !important;
padding-left:10px !important;
padding-right:5px !important;
}
.menulateral1 a{
font-size:10px !important;
color:black !important;
}

td .\\{
    width: 268px;
	background:#F9F9F9;
	line-height:26px;
	border: 1px solid #CCCCCC;
	margin-right:3px !important;
    
}
td .\\ *{
padding:0px;
margin:0px;
text-align:left !important;
    
}
td .\\  b{
	padding-left:10px;
	font-size:12px !important;
	color:#0F5D91 !important;
	line-height:26px;
}