[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.move {
  cursor: move;
}
.over {
  border:0;
  border-radius:8px;
  box-shadow: 0px 0px 5px gray;
  padding:0px;
}
#menu-sort{
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
	margin: 0px; /*for display only*/
	width: 400px;
	background:#ffffff;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
	display:block;
	
}

#menu-sort .pucminas_body{
height: 279px; /*Collapses the menu*/
padding:0;
margin:0px;
}
#menu-sort .logo{
display:block;
}
#menu-sort .icons{
display:block;
margin-left: 7px;
}
#menu-sort .pucminas_header{
}

#menu-sort .pucminas_body{
padding:7px 7px 16px 7px  !important;

}
#nome{
	font-size:12px !important;
	color: #0F5D91 !important;
	width:327px;
	float:left;
	margin-left:7px;
}
#nome a{
display:none !important;
}
#menu-sort .menu-item h4 {
	border-bottom: 1px solid #c5c5c5;
	border-top: 0px solid rgba(255,255,255,0.2);
	-webkit-margin-after:0;
	-webkit-margin-before:0;
	height: 50px;
  	padding: 0px 12px;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-align:center;  
	
	background: rgb(237,237,237);
	background: -moz-linear-gradient(top, rgba(237,237,237,1) 1%, rgba(246,246,246,1) 47%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(237,237,237,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(237,237,237,1) 1%,rgba(246,246,246,1) 47%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(237,237,237,1) 1%,rgba(246,246,246,1) 47%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(237,237,237,1) 1%,rgba(246,246,246,1) 47%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(237,237,237,1) 1%,rgba(246,246,246,1) 47%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 );
}

#menu-sort .menu-item h4 a {
  color: #445668;
  pointer-events: none;
  font-size: 18px;
  text-decoration: none;
  padding:7px;
  text-shadow: 0px 1px 0px #f2f2f2;
  
}

#menu-sort .menu-item ul {
  font-size: 13px;
  list-style-type: none;
  overflow: hidden;
  padding:0px;
  height:279px;
  
  /*Animation*/
  -webkit-transition: height 1s ease;
     -moz-transition: height 1s ease;
       -o-transition: height 1s ease;
      -ms-transition: height 1s ease;
          transition: height 1s ease;
}
#menu-sort .menu-item:hover .lista{
  height: 279px;

}
#menu-sort .menu-item ul a {
  margin-left: 0px;
  text-decoration: none;
  padding:7px;
  color: black;
  pointer-events: none;
}
#menu-sort .menu-item li {
  border-bottom: 1px solid #eeeeee;
  margin:0;
  height: 30px;
  display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-align:center; 
  
}
#menu-sort .menu-item li:hover {
}

p{
	margin-bottom:10px;
}
