/* Basico */
*{
	margin:0;
	padding:0;
}
body{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	font-size: 75%;
	font-family: 'Lucida Grande', sans-serif;
	color:#5C6166;
}
/* Padroes */
button{
    background-color: #777;
    border-width: 0px;
    border-style: solid;
    border-color: #663;
	border-radius: 3px;
	width: 160px;
    height: 29px;
    padding: 0;
    cursor: pointer;
    font: 15px Arial, Helvetica;
    color: #fff;
    -webkit-transition: background 0.2s;
}
button:hover{
    background-color: #495474;
    //background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
   // box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 0px 0 rgba(255, 255, 255, 1) inset;
    color:#fff;
    -webkit-transition: background 0.2s;
}


/* Barra Lateral */
#lateral{
	position:fixed;
	width:155px;
	height:100%;
	background:white;
	top:0;
	
}
#lateral .logo_topo{ /*42px img */
		position:absolute;
		margin-left:10px;
		margin-top:4px;
		-webkit-user-select:none;
		cursor:default;
		display:none;
}
#lateral h3{
	font-size: 1.5em;
	font-weight: normal;
	position:absolute;
	top:15px;
	left:15px;
}


#navigation {
	margin:0px;
	margin-top:57px;
	width: 100%;
	display:block;
	cursor:pointer;

}
#navigation a{
	color: #444;
	display: block;
	line-height: 29px;
	padding: 0px 20px;
	//text-transform: uppercase;
	text-decoration: none;
	margin-bottom: 0px;
	font-size: 1em;
	border-left:6px solid transparent;	
	
}
.content{
	position: absolute;
	padding-top:60px;
}
.panel{
	width:738px;
	height:100%;
	overflow:hiddden;
	position: absolute;
	margin-left: -200%;
	-webkit-transition: margin 200ms, opacity 200ms;

}
.panel:target{
	margin-left: 0px;
}
#general:target ~ #lateral #navigation #btn-general,
#general:target ~ #lateral #navigation #btn-general,
#menuOptions:target ~ #lateral #navigation #btn-menu,
#siteOptions:target ~ #lateral #navigation #btn-site,
#sobre:target ~ #lateral #navigation #btn-sobre{
	border-left:6px solid #0F5D91;	
	color: #0F5D91;
}



/* Paginas */
.titulo{
	min-width:743px;
	height:50px;
	position:fixed;
	line-height:50px;
	margin-top:-60px;
	margin-left:-5px;
	border-bottom: 1px solid #eee;
	background: -webkit-linear-gradient(white, white 40%, rgba(255, 255, 255, 0.92));
	
}
#general{
	width:738px;
	height:100%;
	padding-left:160px;
}
#menuOptions{
	background:white;
	width:738px;
	height:100%;
	padding-left:160px;
}
#siteOptions{
	background:white;
	width:738px;
	height:100%;
	padding-left:160px;
}
#sobre{
	background:white;
	width:738px;
	height:100%;
	padding-left:160px;

}

