*{
	outline: none;
}
body, div, h1, form, fieldset, input, textarea {
	margin: 0; padding: 0; border: 0; outline: none;
}

html {
	height: 100%;
}

body {
	background: #000000;
	font-family: sans-serif; 
}

#principal {
	width: 230px; 
	margin: 0px; 
	padding: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #ffffff; 
	border: 0px solid #e1e1e1;
	-webkit-user-select:none;
	
}
.logo {
	width: 80px; 
	height: 80px;
	margin-left: auto;
    margin-right: auto;
	display:none;
	-webkit-user-select:none;
	cursor:default;
}
h1 {
	font-size: 20px; 
	color: #495474; 
	text-transform: uppercase;
	margin: 0px 0px 12px 0px;
	text-align:center; 
	text-shadow: 0px 1px 0px #f2f2f2;
	-webkit-user-select:none;
	cursor:default;
}

fieldset{
    border: 0;
    padding: 0;
    margin: 0;
}
#inputs{

}
#inputs input{
    background-color: #F3F3F3;
	display:block;
    padding: 5px 5px 5px 30px;
    margin: 0px auto 5px auto;
    width: 150px;
	height:20px;
	font-size:13px;
    border: 0px solid #ccc;
    border-radius: 3px;
   
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

#usuario{
	background-image:url('icons/user.png');
	background-size:15px 15px;
	background-repeat:no-repeat;
	background-position:5px;
	-webkit-transition: background 0.2s;
	
}

#senha{
    background-image:url('icons/padlock.png');
	background-size:15px 15px;
	background-repeat:no-repeat;
	background-position:5px;
	-webkit-transition: background 0.2s;
}

#usuario:hover{
    background-image:url('icons/user_hover.png');
	background-size:15px 15px;
	background-repeat:no-repeat;
	background-position:5px;
}
#usuario:focus{
    background-image:url('icons/user_focus.png');
	background-size:15px 15px;
	background-repeat:no-repeat;
	background-position:5px;
}
#senha:hover{
    background-image:url('icons/padlock_hover.png');
	background-size:15px 15px;
	background-repeat:no-repeat;
	background-position:5px;
}
#senha:focus{
    background-image:url('icons/padlock_focus.png');
	background-size:15px 15px;
	background-repeat:no-repeat;
	background-position:5px;
}
#inputs select{
	-webkit-appearance:none;
    background-color: #F3F3F3;
    color:#777;
	display:block;
    padding: 5px 5px 5px 5px;
    margin: 0px auto 5px auto;
    width: 185px;
    height:30px;
	font-size:11px;
    border: 0px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.1);
	background-image:url('icons/select.png');
	background-size:15px 15px;
	background-repeat:no-repeat;
	background-position:160px;
	-webkit-transition: background 0.2s;
}
#inputs select:hover{
	background-image:url('icons/select_hover.png');
	background-size:15px 15px;
	background-repeat:no-repeat;
	background-position:160px;
}
#inputs select:focus{
	background-image:url('icons/select_focus.png');
	background-size:15px 15px;
	background-repeat:no-repeat;
	background-position:160px;
}
#inputs label{
	width:185px;
	display:-webkit-box;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	font-size:13px;
	color:#777
}
#lembrar{
	width: 13px !important;
	height: 13px !important;
	padding: 0px !important;
	background-color:transparent !important;
	box-shadow:none !important;
	border: 1px solid rgba(0, 0, 0, 0.25) !important;
	border-radius: 2px !important;
	position:relative !important;
	float:left;
	bottom:-1px;
	margin-right: 5px !important;
	-webkit-appearance:none;
	
	
}
#lembrar:checked{
	background-image: url("../options/icons/checked.png");
}
#actions{
    margin: 0px 0px 0px 0px;
}

#submit{		
    background-color: #777;
//	background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
// 	background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */    
        
    border-width: 0px;
    border-style: solid;
    border-color: #663;
	border-radius: 3px;
    display:block;
	margin: 0px auto 0px auto;
    width: 185px;
    height: 29px;
    padding: 0;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #fff;
    -webkit-transition: background 0.2s;
}
#submit:hover, #submit:focus{		
    background-color: #495474;
    //background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 0px 0 rgba(255, 255, 255, 1) inset;
    color:#fff;
    -webkit-transition: background 0.2s;
}	

#submit:active
{		
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}
#entrar{		 
	width:27%;
	text-decoration:blink;
	display:block;
	font-size:17px;
	line-height: 29px;
	margin-left: auto;
    margin-right: auto;
}
iframe{
	display:none;
}

#popup{
	width:130px;
	line-height:20px;
	background:rgba(255, 0, 0, 0.0);
	position:fixed;
	left:24px;
	top:38px;
	border-radius:4px;
	color:red;
	opacity:1;
	font-size:10px;
}