* {
	margin: 0px;
	padding: 0px;
}
*:focus  
{  
    outline: none;  
}  

body {
	background: #e5e5e7;
	-webkit-border-radius:15px !important;
}
#principal{

}


#menu{
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
	margin: 0px auto; /*for display only*/
	width: 390px;
	margin: 0px auto;
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.menu-item {
  background: #fff;
  width: 100%;

}
.logo{
display:block;
}
.icons{
display:block;
margin-left: 7px;
}

[data-notifications] {
  position: relative;
}


[data-notifications]:after {

  /* the burger */
  	content: attr(data-notifications);

  /* the fries */
  	position: absolute;
  	background: -webkit-radial-gradient(2px 10px, circle cover, #FFD000, #ff9900);
  	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0px rgba(100, 100, 100, 0.3);
  	border: 0.00em solid #000000;
  	font-size: 10px;
  	border-radius: 50%;
  	display: inline-block;
  	padding: 1px;
  	color: #ffffff;
  	right: -3px;
  	top: 2px;   
  	width:13px;
	height: 13px;
	text-align: center;
}





.pucminas_header{
height:50px !important;
}

.pucminas_body{
height: 92px; /*Collapses the menu*/
}
#nome{
	font-size:11px !important;
	color: #0F5D91 !important;
	width:327px;
	float:left;
	margin-left:7px;
}
#nome a{
display:none !important;
}
.collapse{
height: 0px; /*Collapses the menu*/
}
.menu-item h4 {
	border-bottom: 1px solid #c5c5c5;
	border-top: 0px solid rgba(255,255,255,0.2);
	height: 30px;
  	padding: 0px 12px;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-align:center;  
	
	background: rgb(237,237,237);
	background: -moz-linear-gradient(top, rgba(237,237,237,1) 1%, rgba(246,246,246,1) 47%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(237,237,237,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(237,237,237,1) 1%,rgba(246,246,246,1) 47%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(237,237,237,1) 1%,rgba(246,246,246,1) 47%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(237,237,237,1) 1%,rgba(246,246,246,1) 47%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(237,237,237,1) 1%,rgba(246,246,246,1) 47%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 );
}
.menu-item h4:hover {  
background: rgb(222,222,222); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(222,222,222,1) 0%, rgba(214,214,214,1) 47%, rgba(206,206,206,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,222,222,1)), color-stop(47%,rgba(214,214,214,1)), color-stop(100%,rgba(206,206,206,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(222,222,222,1) 0%,rgba(214,214,214,1) 47%,rgba(206,206,206,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(222,222,222,1) 0%,rgba(214,214,214,1) 47%,rgba(206,206,206,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(222,222,222,1) 0%,rgba(214,214,214,1) 47%,rgba(206,206,206,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(222,222,222,1) 0%,rgba(214,214,214,1) 47%,rgba(206,206,206,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow: 0px 2px 6px rgba #eeeeee;
}
.menu-item h4 a {
  color: #445668;
  font-size: 18px;
  text-decoration: none;
  padding:7px;
  text-shadow: 0px 1px 0px #f2f2f2;
  
}

.menu-item .lista {
  font-size: 13px;
  list-style-type: none;
  overflow: hidden;
  padding: 0px 0px;
  
  /*Animation*/
  -webkit-transition: height 0.7s ease;
/*     -moz-transition: height 1s ease;
       -o-transition: height 1s ease;
      -ms-transition: height 1s ease;
          transition: height 1s ease;
*/
}
.menu-item:hover .lista{
  height: 279px;

}
.menu-item ul a {
  margin-left: 0px;
  text-decoration: none;
  padding:7px;
  color: #000000;
}
.menu-item li {
  border-bottom: 1px solid #eeeeee;
  height: 30px;
  display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-align:center; 
  
}
.menu-item li:hover {
  background: #eee;
}
#loading{
	display:block;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}


