
.menulateral1 a{
target-name:new !important;
target-new:tab !important;
}
.menulateral1 b{
target-name:new !important;
target-new:tab !important;
font-size: 15px !important;
color: #000000 !important;
text-shadow: 0px 1px 0px #f2f2f2;
display: none;
}
.menulateral1 p{
display: none !important;
}
#principal{
}
#conteudo{
}
.menulateral1{
	font-family:Verdana,Arial,Helvetica,sans-serif !important;
	background-color:#ffffff !important;
}
.menulateral1 td{
	border-top:0px !important;
	background-color:#ffffff !important;
}
.menulateral1 tr{
	border:0px !important;
	padding: 0px !important;
	background: #fff;
	font-size: 12px;
	line-height: 30px;
	height: 0px !important;
	list-style-type: none !important;
	overflow: hidden !important;
}
.menulateral1 .class2{
	display: none !important;
}
.desapertado {
padding: 0px 0px 0px 0px !important;
border-bottom: 1px solid #eee !important ;

}
.desapertado a:hover {
  background: #e5e5e7 !important;
}
.desapertado a {
	padding-left:5px;
	text-decoration: none;
	color: #000000;
	display: block;
}